* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100svh;
}

.header,
.hero,
.info,
.card,
.sign-up,
.footer {
    flex: auto;
    padding: 0 15%;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
    color: #f9faf8
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 6rem;
    row-gap: 1rem;
    padding-top: 1rem;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

ul {
    font-size: 18px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 2rem;
    row-gap: 1rem;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.hero-left {
    flex: auto;
    /* width: 40%; */
}

.hero-left h1 {
    font-size: 48px;
    font-weight: 800;
}

.hero-left p {
    font-size: 18px;
    color: #e5e7eb;
    margin: .5rem 0 1rem 0;
}

button {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #3882f6;
    padding: .5rem 2.5rem;
    border: none;
    border-radius: .5rem;
}

.hero-right {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #7c838b;
    /* width: 45%; */
    aspect-ratio: 2/1;
}

.info,
.sign-up {
    background-color: #fff;
}

.info {
    text-align: center;
    padding: 4rem 20% 8rem 20%;
}

.info h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}

.images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 3rem;
}

.image {
    flex: initial;
    max-width: min-content;
}

img {
    min-height: 11rem;
    min-width: 11rem;
    aspect-ratio: 1/1;
    border: .3rem solid #3882f6;
    border-radius: 1rem;
    margin-bottom: .25rem;
}

.image-subtext {
    color: #7c838b;
    font-size: 18px;
    font-weight: 500;
}

.card {
    color: #1F2937;
    background-color: #e5e7eb;
    padding: 8rem 25% 8rem 25%;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: .5rem;
    
}

.author {
    font-size: 24px;
    font-weight: 800;
    text-align: end;
}

.sign-up {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 0.75rem;
    padding: 3rem 14%;
}

.container-left h3 {
    font-size: 24px;
}

.container-left p {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: .5rem
}

.container-right button {
    border: .15rem solid #fff
}