* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header,
.info,
.card,
.sign-up,
.footer {
    flex: auto;
    padding: 0 15%;
}

.header,
.footer {
    background-color: #1F2937;
    color: #f9faf8
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    padding-top: 1rem;
    padding-bottom: 6rem;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

ul {
    font-size: 18px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: 800;
}

.hero-left p {
    font-size: 18px;
    color: #e5e7eb;
    margin: .5rem 0 1rem 0;
}

.hero-left button {
    font-size: 18px;
    font-weight: bold;
    color: #eee;
    background-color: #3882f6;
    padding: .5rem 2rem;
    border: none;
    border-radius: .5rem;
}

.hero-right {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    min-height: 25%;
    background-color: #7c838b;
}

.info,
.sign-up {
    background-color: #eee;
}

.card {
    background-color: #e5e7eb;
}


.info h2 {
    font-size: 36px;
    font-weight: extra-bold;
}

.em {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

