* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header,
.info,
.quote-card,
.sign-up,
.footer {
    padding: 0 20%;
    flex: 1 0 auto
}

.header,
.footer {
    background-color: #1F2937;
    color: #f9faf8
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

ul {
    font-size: 18px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    column-gap: 2ch;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: bold;
}

.hero-left p {
    font-size: 18px;
    color: #e5e7eb;
}

.info,
.sign-up {
    background-color: #eee;
}

.quote-card {
    background-color: #e5e7eb;
}


.info h2 {
    font-size: 36px;
    font-weight: extra-bold;
}

.em {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

